{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    <h2>Snippet: {{.Snippet.Title}}</h2>
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Snippet.Title}}</strong>
            <span><a href="/snippet/{{.Snippet.ID}}/edit">Edit</a></span>
        </div>
        <pre><code>{{.Snippet.Content}}</code></pre>
        <div class='metadata'>
            {{- /* custom template fn humanDate */ -}}
            <time>Created: {{humanDate .Snippet.DateCreated}}</time>
            <time>Expires: {{humanDate .Snippet.DateExpires}}</time>
        </div>
    </div>
{{- end}}