{{template "base" .}}

{{define "title"}}Snippet {{shortID .Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
    <h2>Snippet: {{.Title}}</h2>
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span><a href="/snippet/{{.ID}}/edit">Edit</a></span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            {{- /* custom template fn humanDate */ -}}
            <time>Created: {{humanDate .DateCreated}}</time>
            <time>Expires: {{humanDate .DateExpires}}</time>
        </div>
    </div>
    {{end}}
{{- end}}