{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About Snptx</h2>
    <div class="about">
        <p>Snptx is a simple and efficient tool for managing your snippets. It allows you to
        create, edit, and delete snippets with ease. The user-friendly interface makes it
        easy to navigate and find the snippets you need.</p>

        <p>Snptx is designed to be lightweight and fast, making it a great choice for
        developers and anyone who needs to manage snippets of code or text. It is built
        with Go and uses a simple file-based storage system, ensuring that your snippets
        are always accessible and easy to back up.</p>

        <p>Thank you for using Snptx!</p>
    </div>
{{end}}
