name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-22.04
    # https://docs.github.com/en/actions/reference/specifications-for-github-hosted-runners
    steps:

    - name: Set up Go 1.21.x
      uses: actions/setup-go@v5
      with:
        go-version: '1.21.5'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      with:
        ref: 'master'
        fetch-depth: '1'
        lfs: 'false'
        submodules: 'false'

    - name: Run go vet & static checks
      run: |
        go vet ./cmd/... ./internal/...
        GO111MODULE=on go install honnef.co/go/tools/cmd/staticcheck@v0.4.6
        export PATH=$PATH:$(go env GOPATH)/bin
        staticcheck -debug.version
        staticcheck -go 1.21 -tests ./cmd/... ./internal/...

    - name: Build binaries using vendored deps
      run: |
        go build -mod=vendor ./cmd/snptx-admin
        go build -mod=vendor ./cmd/snptx
        
    - name: Start a single CockroachDB instance (v23.1.13) with docker
      run: |
        docker pull cockroachdb/cockroach:v23.1.13
        docker run --name roach -d -p 26257:26257 cockroachdb/cockroach:v23.1.13 start-single-node --insecure --advertise-addr=localhost
        sudo apt-get update && sudo apt-get install wait-for-it --yes --no-show-upgraded
        wait-for-it -h localhost -p 26257
        docker exec roach bash -c "echo 'CREATE DATABASE snptx;' | cockroach sql --insecure"

    - name: Run tests
      run: |
        ./ci/test.sh
      env:
        DATABASE_URL: postgresql://root@localhost:26257/snptx?sslmode=disable
        
    - name: Upload coverage
      uses: codecov/codecov-action@v4.1.1
      with:
        file: coverprofile.cov
